*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 18px;
    color: #000000;
    font-family: 'PT Sans Narrow';
   }

.container{
    max-width: 960px;}


::-webkit-scrollbar-button { 
    background-image: url(); 
    background-repeat:no-repeat; 
    width:6px; 
    height:0px 
} 

::-webkit-scrollbar-track { 
    background-color:#32312e; 
    box-shadow:0px 0px 3px #000 inset; 
} 

::-webkit-scrollbar-thumb { 
    -webkit-border-radius: 5px; 
    border-radius: 5px; 
    background-color:#fff; 
    box-shadow:0px 1px 1px #fff inset; 
    background-image: url('/img/444.svg'); 
    background-position:center; 
    background-repeat:no-repeat; 
} 

::-webkit-resizer{ 
    background-image:url(''); 
    background-repeat:no-repeat; 
    width:7px; 
    height:0px 
} 

::-webkit-scrollbar{ 
    width: 11px; 
}